{{define "exchange"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" "Historic exhange information"}}
{{template "navbar" . }}

<div class="content">
    <div data-controller="exchange" class="container-fluid">
        <div class="control-wrapper">
            <div class="d-flex flex-row bottom-ctl">
                <div class="chart-control-wrapper ml-auto mr-3 my-2">
                    <div class="chart-control-label">View</div>
                    <div class="chart-control" data-target="exchange.viewOptionControl"
                        data-initial-value="{{ .Data.selectedViewOption }}">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript:void(0);" data-target="exchange.viewOption"
                                    data-action="click->exchange#setChart" data-option="chart">Chart</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" data-target="exchange.viewOption"
                                    data-action="click->exchange#setTable" data-option="table">Table</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="mr-auto d-flex my-2">
                    <div class="chart-control-wrapper p-0 mr-2">
                        <div class="chart-control-label">Exchanges</div>
                        <div class="chart-control p-0">
                            {{$selectedExchange := .Data.selectedExchange}}
                            <select data-target="exchange.selectedFilter"
                                data-action="change->exchange#selectedFilterChanged"
                                data-initial-value="{{ $selectedExchange }}" class="form-control" style="width: 100px;">
                                <option data-target="exchange.hideOption" class="{{ if .Data.chartView }}d-none{{ end }}"
                                    value="All">All</option>
                                {{ range $index, $filter := .Data.allExData}}
                                <option value="{{$filter.Name}}" {{ if eq $filter.Name $selectedExchange}} selected {{ end }}>{{$filter.Name}}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>

                    <div data-target=exchange.sourceWrapper class="chart-control-wrapper control-div p-0">
                        <div class="chart-control-label">Currency Pair</div>
                        <div class="chart-control p-0">
                            {{$selectedCurrencyPair := .Data.selectedCurrencyPair}}
                            <select data-target="exchange.selectedCurrencyPair"
                                data-initial-value="{{ $selectedCurrencyPair }}"
                                data-action="change->exchange#selectedCurrencyPairChanged" class="form-control"
                                style="width: 105px;">
                                <option class="{{ if .Data.chartView }}d-none{{ end }}" value="All">All</option>
                                {{ range $index, $cpair := .Data.currencyPairs}}
                                <option value="{{$cpair.CurrencyPair}}" {{ if eq $cpair.CurrencyPair $selectedCurrencyPair}}
                                    selected {{ end }}>{{commonPair $cpair.CurrencyPair}}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>
                    
                    <div data-target="exchange.intervalWapper" class="chart-control-wrapper control-div p-0">
                        <div class="chart-control-label">Interval</div>
                        <div class="chart-control p-0">
                            <select data-target="exchange.selectedInterval"
                                data-action="change->exchange#selectedIntervalChanged"
                                data-initial-value="{{ .Data.selectedInterval }}" class="form-control" style="width: 60px;">
                                {{$selectedInterval := .Data.selectedInterval}}
                                {{ range $index, $filter := .Data.intervals}}
                                <option value="{{$index}}" {{ if eq $index $selectedInterval}} selected {{ end }}>
                                    {{$filter}}</option>
                                {{ end }}
                            </select>
                        </div>
                    </div>

                    <div data-target="exchange.tickWapper" class="chart-control-wrapper control-div  p-0 d-hide">
                        <div class="chart-control-label">Data Ticks</div>
                        <div class="chart-control p-0">
                            <select data-target="exchange.selectedTicks" data-initial-value="{{ .Data.selectedTick }}"
                                data-action="change->exchange#selectedTicksChanged" class="form-control"
                                style="width: 90px;">
                                <option value="close">Close</option>
                                <option value="high">High</option>
                                <option value="open">Open</option>
                                <option value="low">Low</option>
                            </select>
                        </div>
                    </div>

                    <div class="chart-control-wrapper mr-2 mb-1" data-target="exchange.zoomSelector">
                        <div class="chart-control-label">Zoom</div>
                        <div class="chart-control">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active d-none" href="javascript:void(0);"
                                        data-target="exchange.zoomOption" data-action="click->exchange#setZoom"
                                        data-option="all">All</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-none" href="javascript:void(0);"
                                        data-target="exchange.zoomOption" data-action="click->exchange#setZoom"
                                        data-option="year">Year</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-none" href="javascript:void(0);"
                                        data-target="exchange.zoomOption" data-action="click->exchange#setZoom"
                                        data-option="month">Month</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-none" href="javascript:void(0);"
                                        data-target="exchange.zoomOption" data-action="click->exchange#setZoom"
                                        data-option="week">Week</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link d-none" href="javascript:void(0);"
                                        data-target="exchange.zoomOption" data-action="click->exchange#setZoom"
                                        data-option="day">Day</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="inner-content {{ if .Data.chartView }}d-none{{ end }}"
                data-target="exchange.exchangeTableWrapper">
                <div class="table-details">
                    <h3>Exchanges</h3>
                    <div class="paginate">
                        <div data-target="exchange.numPageWrapper"
                            class="control-div p-0 ml-2 {{ if .Data.chartView }}d-none{{ end }}">
                            <div class="control-label">Page Size:</div>
                            <select data-target="exchange.selectedNum"
                                data-action="change->exchange#numberOfRowsChanged" class="form-control"
                                style="width: 70px;">
                                {{$selectedNum := .Data.selectedNum}}
                                {{ range $index, $filter := .Data.pageSizeSelector}}
                                <option value="{{$index}}" {{ if eq $index $selectedNum}} selected {{ end }}>{{$filter}}
                                </option>
                                {{ end }}
                            </select>
                        </div>
                        <div data-target="exchange.pageSizeWrapper"
                            class="page-size d-flex mt-1 {{ if .Data.chartView }}d-none{{ end }}">
                            <a href="javascript:void(0)" data-target="exchange.previousPageButton"
                                data-action="click->exchange#loadPreviousPage"
                                class="mr-2 {{ if lt .Data.previousPage 1 }}d-none{{ end }}">&lt;Previous </a>

                            <p class="text-muted" style="white-space: nowrap;"> Page <span
                                    data-target="exchange.currentPage" class="text-muted"
                                    data-current-page="{{ .Data.currentPage }}"> {{ .Data.currentPage }}</span> of <span
                                    data-target="exchange.totalPageCount" class="text-muted">{{ .Data.totalPages }}</span>
                            </p>

                            <a href="javascript:void(0)" data-target="exchange.nextPageButton"
                                data-action="click->exchange#loadNextPage"
                                class="ml-2 {{ if not .Data.nextPage }}d-none{{ end }}"> Next&gt;</a>
                        </div>
                    </div>
                </div>
                <table class="table mx-auto">
                    <thead>
                        <tr style="white-space: nowrap;">
                            <th>Time(UTC)</th>
                            <th>Exchange</th>
                            <th>High</th>
                            <th>Low</th>
                            <th>Open</th>
                            <th>Close</th>
                            <th>Volume</th>
                            <th>Interval</th>
                            <th>Currency Pair</th>
                        </tr>
                    </thead>
                    <tbody data-target="exchange.exchangeTable">
                        {{range $index, $exchange := .Data.exData}}
                        <tr>
                            <td>{{$exchange.Time}}</td>
                            <td>{{$exchange.ExchangeName}}</td>
                            <td>{{$exchange.High}}</td>
                            <td>{{$exchange.Low}}</td>
                            <td>{{$exchange.Open}}</td>
                            <td>{{$exchange.Close}}</td>
                            <td>{{$exchange.Volume}}</td>
                            <td>{{$exchange.Interval}}</td>
                            <td>{{$exchange.CurrencyPair}}</td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

                <template data-target="exchange.exRowTemplate">
                    <tr style="white-space: nowrap;">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </template>
            </div>
            <div data-target="exchange.chartWrapper" class="inner-content chart-wrapper pl-2 pr-2 mb-5">
                <div id="chart" data-target="exchange.chartsView" style="width:100%; height:73vh; margin:0 auto;">
                </div>
                <div class="d-flex justify-content-center legend-wrapper">
                    <div class="legend d-flex" data-target="exchange.labels"></div>
                </div>
            </div>
            <div data-target="exchange.messageView" class="d-hide">
            </div>
            <div class="loading" data-target="exchange.loadingData">
                <div class="loader"></div>
            </div>
        </div>
    </div>

    {{ template "footer" . }}
    </body>

</html>
{{end}}