{{define "home"}}
<!DOCTYPE html>
<html lang="en">
    {{ template "html-head" printf "PdAnalytics"}}
        {{template "navbar" . }}
        {{if .NoModEnabled}}
            No module enabled
        {{else}}
            Modules Enabled: <br/>
            Staking Reward Calculator: {{.StakingRewardEnabled}}<br/>
		    Chain Paramaetes:    {{.ParametersEnabled}}<br/>
		    Attack Cost Calculator:    {{.AttackCostEnabled}}<br/>
        {{end}}
        {{ template "footer" . }}
    </body>
</html>
{{end}}