{{define "home"}}
<!DOCTYPE html>
<html lang="en">
    {{ template "html-head" printf "PdAnalytics"}}
        {{template "navbar" . }}
        
        {{ template "footer" . }}
    </body>
</html>
{{end}}