{{define "home"}}
<!DOCTYPE html>
<html lang="en">
    {{ template "html-head" printf "PdAnalytics"}}

        {{template "navbar" . }}
        <div class="content" style="padding-top: 70px;">
           <div class="container-fluid">
            {{if .NoModEnabled}}
                No module enabled
            {{else}}
                
            <div class="items ml-auto mr-auto mt-5" style="width: fit-content;">
                {{ range $group := .NavGroups }}
                    <h6>{{ $group.Label }}</h6>
                    <hr>

                    {{ range $menuItem := $group.MenuItems }}
                        {{ if neq $menuItem.Href "/" }}
                        <div class="item-info">
                            <p>
                                <a href="{{$menuItem.Href}}" class="header">{{$menuItem.HyperText}} -</a> {{$menuItem.Info}}
                            </p>
                        </div>
                        {{ end }}
                    {{ end }}

                {{ end }}
            </div>

            {{end}}
           </div>
        </div>
        
        {{ template "footer" . }}
    </body>
</html>
{{end}}