{{define "mempool"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" "Mempool"}}

<body data-controller="receive" class="{{ theme }}">
<div class="body" data-controller="mempool" data-mempool-block-time="{{.BlockTime}}">
    {{ template "navbar" . }}
    <div class="content">
        <div class="container-fluid">

            <div class="control-wrapper">

                <div class="d-flex flex-row bottom-ctl">

                    <div class="chart-control-wrapper ml-auto mr-3 my-2">
                        <div class="chart-control-label">View</div>
                        <div class="chart-control" data-target="mempool.viewOptionControl"
                            data-initial-value="{{ .Mempool.selectedViewOption }}">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript:void(0);" data-target="mempool.viewOption"
                                    data-action="click->mempool#setChart" data-option="chart">Chart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:void(0);"
                                    data-target="mempool.viewOption" data-action="click->mempool#setTable"
                                    data-option="table">Table</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    

                    <div class="d-flex mr-auto my-2">
                        <div class="chart-control-wrapper control-div p-0 d-none"
                             data-target="mempool.chartDataTypeSelector">
                             <div class="chart-control-label">Data Type</div>
                            <div class="chart-control mempool-control mx-auto">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a data-target="mempool.chartDataType"
                                           data-action="click->mempool#setDataType" class="nav-link active"
                                           href="javascript:void(0);" data-option="size"
                                           data-initial-value="{{ .Mempool.chartDataType }}">Size</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="mempool.chartDataType"
                                           data-action="click->mempool#setDataType" class="nav-link"
                                           href="javascript:void(0);" data-option="fees"
                                           data-initial-value="{{ .Mempool.chartDataType }}">Fees</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="mempool.chartDataType"
                                           data-action="click->mempool#setDataType" class="nav-link"
                                           href="javascript:void(0);" data-option="tx-count"
                                           data-initial-value="{{ .Mempool.chartDataType }}">Transactions</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div data-target="mempool.graphIntervalWrapper" class="control-div p-0 chart-control-wrapper mr-2 mb-1">
                            <div class="chart-control-label">Group By</div>
                            <div class="chart-control">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a data-target="mempool.interval"
                                           data-action="click->mempool#setInterval" class="nav-link active"
                                           href="javascript:void(0);" data-option="day">Day</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="mempool.interval"
                                           data-action="click->mempool#setInterval" class="nav-link"
                                           href="javascript:void(0);" data-option="hour">Hour</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="mempool.interval"
                                           data-action="click->mempool#setInterval" class="nav-link"
                                           href="javascript:void(0);" data-option="default">None</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="chart-control-wrapper mr-2 mb-1 d-none" data-target="mempool.zoomSelector">
                            <div class="chart-control-label">Zoom</div>
                            <div class="chart-control">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a
                                                class="nav-link active d-none"
                                                href="javascript:void(0);"
                                                data-target="mempool.zoomOption"
                                                data-action="click->mempool#setZoom"
                                                data-option="all"
                                        >All</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                                class="nav-link d-none"
                                                href="javascript:void(0);"
                                                data-target="mempool.zoomOption"
                                                data-action="click->mempool#setZoom"
                                                data-option="year"
                                        >Year</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                                class="nav-link d-none"
                                                href="javascript:void(0);"
                                                data-target="mempool.zoomOption"
                                                data-action="click->mempool#setZoom"
                                                data-option="month"
                                        >Month</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                                class="nav-link d-none"
                                                href="javascript:void(0);"
                                                data-target="mempool.zoomOption"
                                                data-action="click->mempool#setZoom"
                                                data-option="week"
                                        >Week</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                                class="nav-link d-none"
                                                href="javascript:void(0);"
                                                data-target="mempool.zoomOption"
                                                data-action="click->mempool#setZoom"
                                                data-option="day"
                                        >Day</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="inner-content d-hide" data-target="mempool.tableWrapper">
                <div class="table-details">
                    <h3>Mempool</h3>
                    <div class="pagination">
                        <div data-target="mempool.numPageWrapper"
                            class="control-div p-0 {{ if .Mempool.chartView }}d-none{{ end }}">
                            <div class="control-label">Page Size:</div>
                            <select data-target="mempool.selectedNumberOfRows"
                                    data-action="change->mempool#numberOfRowsChanged" class="form-control"
                                    style="width: 70px;">
                                {{$selectedNumberOfRows := .Mempool.selectedNumberOfRows}}
                                {{ range $index, $filter := .Mempool.pageSizeSelector}}
                                    <option value="{{$index}}" {{ if eq $index $selectedNumberOfRows}} selected {{ end }}>{{$filter}}</option>
                                {{ end }}
                            </select>
                        </div>
                        <div data-target="mempool.btnWrapper" class="page-size d-flex mt-1 {{ if .Mempool.chartView }}d-none{{ end }}">
                            <a href="javascript:void(0)" data-target="mempool.previousPageButton"
                            data-action="click->mempool#loadPreviousPage"
                            class="mr-2 {{ if lt .Mempool.previousPage 1 }}d-none{{ end }}">&lt;Previous </a>

                            <p class="text-muted" style="white-space: nowrap;"> Page <span
                                        data-target="mempool.currentPage" class="text-muted"
                                        data-current-page="{{ .Mempool.currentPage }}"> {{ .Mempool.currentPage }}</span>
                                of <span data-target="mempool.totalPageCount"
                                        class="text-muted">{{ .Mempool.totalPages }}</span>
                            </p>
                            <a href="javascript:void(0)" data-target="mempool.nextPageButton"
                            data-action="click->mempool#loadNextPage"
                            class="ml-2 {{ if not .Mempool.nextPage }}d-none{{ end }}"> Next&gt;</a>
                        </div>
                    </div>
                </div>
                <table class="table mx-auto">
                    <thead>
                    <tr>
                        <th>Date (UTC)</th>
                        <th># of Txs</th>
                        <th>Size (B)</th>
                        <th>Total Fees</th>
                    </tr>
                    </thead>
                    <tbody data-target="mempool.tableBody">
                    {{range $index, $mempool := .Mempool.mempoolData}}
                        <tr>
                            <td>{{$mempool.Time}}</td>
                            <td>{{$mempool.NumberOfTransactions}}</td>
                            <td>{{$mempool.Size}}</td>
                            <td>{{normalizeBalance $mempool.TotalFee}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>

                <template data-target="mempool.rowTemplate">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </template>
            </div>
            <div data-target="mempool.chartWrapper" class="inner-content chart-wrapper pl-2 pr-2 mb-5">
                <div id="chart" data-target="mempool.chartsView"
                        style="width:100%; height:73vh; margin:0 auto;"></div>
                <div class="d-flex justify-content-center legend-wrapper d-none">
                    <div class="legend d-flex" data-target="mempool.labels"></div>
                </div>
            </div>
            <div data-target="mempool.messageView" class="d-hide mx-auto">
            </div>
            <div class="loading" data-target="mempool.loadingData"><div class="loader"></div></div>
        </div>

        {{ template "footer" . }}
</body>

</html>
{{end}}
