<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" 
				data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

		<div class="collapse navbar-collapse float-right" id="navbarNav">
		  <ul class="navbar-nav ml-auto">
			{{ range $menuItem := .MenuItems }}
            <li id="nav-{{ removeStartingSlash $menuItem.Href}}" class="nav-item"
				style="font-size: 18px;"
			>
                <a href="{{$menuItem.Href}}" class="nav-link">{{$menuItem.HyperText}}</a>
            </li>
			{{ end }}
		  </ul>
		</div> -->