{{ define "pow"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" "PoW"}}

<body>
    <div class="body" data-controller="pow">
        {{ template "navbar" . }}
        <div class="content">
            <div class="container-fluid">
                <div class="control-wrapper">
                    <div class="d-flex flex-row bottom-ctl">
                        <div class="chart-control-wrapper ml-auto mr-3 my-2" data-target="pow.viewOptionControl" 
                            data-initial-value="{{ .Pow.selectedViewOption }}">
                            <div class="chart-control-label">View</div>
                            <div class="chart-control">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="javascript:void(0);" data-target="pow.viewOption"
                                        data-action="click->pow#setChart" data-option="chart">Chart</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript:void(0);" data-target="pow.viewOption"
                                        data-action="click->pow#setTable" data-option="table">Table</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                        <div class="d-flex mr-auto my-2">
                            <div class="chart-control-wrapper {{ if .Pow.chartView }}d-none{{ end }}" data-target="pow.powFilterWrapper">
                                <div class="chart-control-label">Pool</div>
                                <div class="chart-control control-div p-0">
                                    <select data-target="pow.selectedFilter" data-action="change->pow#selectedFilterChanged"
                                        class="form-control" style="width: 110px;">
                                        {{$selectedFilter := .Pow.selectedFilter}}
                                        <option value="All" selected>All</option>
                                        {{ range $index, $filter := .Pow.powSource}}
                                        <option value="{{$filter.Source}}" {{ if eq $filter.Source $selectedFilter}} selected {{ end }}>{{$filter.Source}}</option>
                                        {{ end }}
                                    </select>
                                </div>
                            </div>
                            <div class="chart-control-wrapper mr-3" 
                            data-target="pow.chartDataTypeSelector">
                                <div class="chart-control-label">Data Type</div>
                                <div class="chart-control ml-auto">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a class="nav-link {{ if eq .Pow.selectedDataType "hashrate" }}active{{ end }}" href="javascript:void(0);"
                                            data-target="pow.dataType"
                                            data-option="hashrate" data-initial-value="{{ .Pow.selectedDataType }}"
                                            data-action="click->pow#setDataType">Hashrate</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link {{ if eq .Pow.selectedDataType "workers" }}active{{ end }}" href="javascript:void(0);"
                                            data-target="pow.dataType"
                                            data-option="workers" data-initial-value="{{ .Pow.selectedDataType }}"
                                            data-action="click->pow#setDataType">Workers</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="chart-control-wrapper mr-3" data-target="pow.chartSourceWrapper">
                                <div class="chart-control-label">Pool</div>
                                <div class="control-div pt-2 pl-2">
                                    {{ $selectedPools := .Pow.selectedPools }}
                                    {{ range $index, $filter := .Pow.powSource}}
                                    <div class="form-check form-check-inline" data-target="pow.poolDiv">
                                        <input data-target="pow.pool" data-action="click->pow#poolCheckChanged"
                                        class="form-check-input" type="checkbox" id="inlineCheckbox-{{$filter.Source}}"
                                        value="{{$filter.Source}}" {{ if strListContains $selectedPools $filter.Source }} checked {{ end }}>
                                        <label class="form-check-label" for="inlineCheckbox-{{$filter.Source}}">{{$filter.Source}}</label>
                                    </div>
                                    {{ end}}
                                </div>
                            </div>

                            <div data-target="pow.graphIntervalWrapper" class="control-div p-0 chart-control-wrapper mr-3">
                                <div class="chart-control-label">Group By</div>
                                <div class="chart-control">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a data-target="pow.interval"
                                               data-action="click->pow#setInterval" class="nav-link active"
                                               href="javascript:void(0);" data-option="day">Day</a>
                                        </li>
                                        <li class="nav-item">
                                            <a data-target="pow.interval"
                                               data-action="click->pow#setInterval" class="nav-link"
                                               href="javascript:void(0);" data-option="hour">Hour</a>
                                        </li>
                                        <li class="nav-item">
                                            <a data-target="pow.interval"
                                               data-action="click->pow#setInterval" class="nav-link"
                                               href="javascript:void(0);" data-option="default">None</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="chart-control-wrapper mr-2 mb-1" data-target="pow.zoomSelector">
                                <div class="chart-control-label">Zoom</div>
                                <div class="chart-control">
                                    <ul class="nav nav-pills">
                                        <li class="nav-item">
                                            <a
                                                    class="nav-link active d-none"
                                                    href="javascript:void(0);"
                                                    data-target="pow.zoomOption"
                                                    data-action="click->pow#setZoom"
                                                    data-option="all"
                                            >All</a>
                                        </li>
                                        <li class="nav-item">
                                            <a
                                                    class="nav-link d-none"
                                                    href="javascript:void(0);"
                                                    data-target="pow.zoomOption"
                                                    data-action="click->pow#setZoom"
                                                    data-option="year"
                                            >Year</a>
                                        </li>
                                        <li class="nav-item">
                                            <a
                                                    class="nav-link d-none"
                                                    href="javascript:void(0);"
                                                    data-target="pow.zoomOption"
                                                    data-action="click->pow#setZoom"
                                                    data-option="month"
                                            >Month</a>
                                        </li>
                                        <li class="nav-item">
                                            <a
                                                    class="nav-link d-none"
                                                    href="javascript:void(0);"
                                                    data-target="pow.zoomOption"
                                                    data-action="click->pow#setZoom"
                                                    data-option="week"
                                            >Week</a>
                                        </li>
                                        <li class="nav-item">
                                            <a
                                                    class="nav-link d-none"
                                                    href="javascript:void(0);"
                                                    data-target="pow.zoomOption"
                                                    data-action="click->pow#setZoom"
                                                    data-option="day"
                                            >Day</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div style="max-width: fit-content; margin: 0 auto;"
                class="inner-content row {{ if .Pow.chartView }}d-none{{ end }}" 
                data-target="pow.powTableWrapper">
                <div class="col-md-24">
                    <div class="">
                        <div class="table-details">
                            <h3>PoW</h3>
                            <div class="paginate">
                                <div data-target="pow.numPageWrapper" class="control-div p-0 ml-1 {{ if .Pow.chartView }}d-none{{ end }}">
                                    <div class="control-label">Page Size:</div>
                                    <select data-target="pow.selectedNum" data-action="change->pow#numberOfRowsChanged" class="form-control" style="width: 70px;">
                                        {{$selectedNum := .Pow.selectedNum}}
                                        {{ range $index, $filter := .Pow.pageSizeSelector}}
                                        <option value="{{$index}}" {{ if eq $index $selectedNum}} selected {{ end }}>{{$filter}}</option>
                                        {{ end }}
                                    </select>
                                </div>
                                <div data-target="pow.pageSizeWrapper" class="page-size d-flex mt-1 {{ if .Pow.chartView }}d-none{{ end }}">
                                    <a href="javascript:void(0)" data-target="pow.previousPageButton" data-action="click->pow#loadPreviousPage" class="mr-2 {{ if lt .Pow.previousPage 1 }}d-none{{ end }}">&lt;Previous </a>
        
                                    <p class="text-muted" style="white-space: nowrap;"> Page <span data-target="pow.currentPage" class="text-muted" data-current-page="{{ .Pow.currentPage }}"> {{ .Pow.currentPage }}</span> of <span data-target="pow.totalPageCount" class="text-muted">{{ .Pow.totalPages }}</span>
                                    </p>
        
                                    <a href="javascript:void(0)"  data-target="pow.nextPageButton"  data-action="click->pow#loadNextPage" class="ml-2 {{ if not .Pow.nextPage }}d-none{{ end }}"> Next&gt;</a>
                                </div>
                            </div>
                        </div>
                        <table class="table mx-auto">
                            <thead>
                                <tr>
                                    <th style="width: 110px;">Pool</th>
                                    <th style="text-align: right; width: 150px;">Pool Hashrate (Th/s)</th>
                                    <th style="text-align: right;width: 150px;">Workers</th>
                                    <th style="width: 50px;"></th>
                                    <th style="width: 170px;">Time (UTC)</th>
                                </tr>
                            </thead>
                            <tbody data-target="pow.powTable">
                                {{range $index, $powdata := .Pow.powData}}
                                <tr>
                                    <td>{{$powdata.Source}}</td>
                                    <td style="text-align: right;">{{$powdata.PoolHashrateTh}}</td>
                                    <td style="text-align: right;">{{$powdata.Workers}}</td>
                                    <td></td>
                                    <td>{{$powdata.Time}}</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>

                        <template data-target="pow.powRowTemplate">
                            <tr>
                                <td></td>
                                <td style="text-align: right;"></td>
                                <td style="text-align: right;"></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </template>
                    </div>
                </div>
            </div>

            <div data-target="pow.chartWrapper" class="inner-content chart-wrapper pl-2 pr-2 mb-5">
                <div id="chart" data-target="pow.chartsView" style="width:100%; height:73vh; margin:0 auto;">
                </div>
                <div class="d-flex justify-content-center legend-wrapper">
                    <div class="legend d-flex" data-target="pow.labels"></div>
                </div>
            </div>
            <div data-target="pow.messageView" class="d-hide text-center">
            </div>
            <div class="loading" data-target="pow.loadingData"><div class="loader"></div></div>
      </div>
  </div>
</div>
{{ template "footer" }}
</body>
</html>
{{ end }}
