{{define "propagation"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" "Block Propagation"}}

<body data-controller="receive" class="{{ theme }}{{if .Cookies.DarkMode}} darkBG{{end}}">
<div class="body" data-controller="propagation" data-propagation-block-time="{{.BlockTime}}" 
    data-action="scroll@window->propagation#onScroll">
    {{ template "navbar" . }}
    <div class="content">
        <div class="container-fluid">

            <div class="control-wrapper">

                <div class="d-flex flex-row bottom-ctl">

                    <div class="chart-control-wrapper ml-auto mr-3 my-2">
                        <div class="chart-control-label">View</div>
                        <div class="chart-control ml-auto mr-3" data-target="propagation.viewOptionControl"
                            data-initial-value="{{ .Propagation.selectedViewOption }}">
                            <ul class="nav nav-pills">
                                <li class="nav-item">
                                    <a class="nav-link {{ if eq .Propagation.selectedViewOption "chart"}} active {{ end }}"
                                            href="javascript:void(0);"
                                            data-target="propagation.viewOption"
                                            data-action="click->propagation#setChart"
                                            data-option="chart"
                                    >Chart</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link {{ if eq .Propagation.selectedViewOption "table"}} active {{ end }}"
                                            href="javascript:void(0);"
                                            data-target="propagation.viewOption"
                                            data-action="click->propagation#setTable"
                                            data-option="table"
                                    >Table</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="d-flex mr-auto my-2">
                        <div class="chart-control-wrapper p-0 mr-3"
                            data-target="propagation.recordSetSelector">
                            <div class="chart-control-label">Data Type</div>
                            <div class="chart-control propagation-control mx-auto">
                                <ul class="nav nav-pills {{ if eq .Propagation.selectedViewOption "table"}} d-none {{ end }}"
                                    data-target="propagation.tableRecordSetOptions"
                                    data-initial-value="{{ .Propagation.selectedRecordSet }}">
                                    <li class="nav-item" data-target="propagation.bothRecordWrapper">
                                        <a data-target="propagation.selectedRecordSet"
                                                data-action="click->propagation#setBothRecordSet"
                                                class="nav-link active"
                                                href="javascript:void(0);"
                                                data-option="both">Both</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="propagation.selectedRecordSet"
                                                data-action="click->propagation#setBlocksRecordSet"
                                                class="nav-link"
                                                href="javascript:void(0);"
                                                data-option="blocks">Blocks</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="propagation.selectedRecordSet"
                                                data-action="click->propagation#setVotesRecordSet"
                                                class="nav-link"
                                                href="javascript:void(0);"
                                                data-option="votes">Votes</a>
                                    </li>
                                </ul>

                                <ul class="nav nav-pills {{ if eq .Propagation.selectedViewOption "chart"}} d-none {{ end }}"
                                    data-target="propagation.chartTypesWrapper"
                                    data-sync-sources="{{ .Propagation.syncSources }}"
                                    data-initial-value="{{ .Propagation.chartType }}">
                                    <li class="nav-item">
                                        <a data-target="propagation.chartType"
                                                data-action="click->propagation#changeChartType"
                                                class="nav-link active"
                                                href="javascript:void(0);"
                                                data-option="block-propagation">Block Propagation</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="propagation.chartType"
                                                data-action="click->propagation#changeChartType"
                                                class="nav-link"
                                                href="javascript:void(0);"
                                                data-option="block-timestamp">Block Timestamp</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="propagation.chartType"
                                                data-action="click->propagation#changeChartType"
                                                class="nav-link"
                                                href="javascript:void(0);"
                                                data-option="votes-receive-time">Votes Receive Time</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div data-target="propagation.graphIntervalWrapper" 
                            class="control-div p-0 chart-control-wrapper mr-2 mb-1">
                            <div class="chart-control-label">Group By</div>
                            <div class="chart-control">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a data-target="propagation.interval"
                                        data-action="click->propagation#setInterval" class="nav-link active"
                                        href="javascript:void(0);" data-option="day">Day</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="propagation.interval"
                                        data-action="click->propagation#setInterval" class="nav-link"
                                        href="javascript:void(0);" data-option="hour">Hour</a>
                                    </li>
                                    <li class="nav-item">
                                        <a data-target="propagation.interval"
                                        data-action="click->propagation#setInterval" class="nav-link"
                                        href="javascript:void(0);" data-option="default">None</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="chart-control-wrapper mr-2 mb-1 d-none" data-target="propagation.zoomSelector">
                            <div class="chart-control-label">Zoom</div>
                            <div class="chart-control">
                                <ul class="nav nav-pills">
                                    <li class="nav-item">
                                        <a
                                                class="nav-link active d-none"
                                                href="javascript:void(0);"
                                                data-target="propagation.zoomOption"
                                                data-action="click->propagation#setZoom"
                                                data-option="all"
                                        >All</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                                class="nav-link d-none"
                                                href="javascript:void(0);"
                                                data-target="propagation.zoomOption"
                                                data-action="click->propagation#setZoom"
                                                data-option="year"
                                        >Year</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                                class="nav-link d-none"
                                                href="javascript:void(0);"
                                                data-target="propagation.zoomOption"
                                                data-action="click->propagation#setZoom"
                                                data-option="month"
                                        >Month</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                                class="nav-link d-none"
                                                href="javascript:void(0);"
                                                data-target="propagation.zoomOption"
                                                data-action="click->propagation#setZoom"
                                                data-option="week"
                                        >Week</a>
                                    </li>
                                    <li class="nav-item">
                                        <a
                                                class="nav-link d-none"
                                                href="javascript:void(0);"
                                                data-target="propagation.zoomOption"
                                                data-action="click->propagation#setZoom"
                                                data-option="day"
                                        >Day</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="inner-content {{ if not .Propagation.nextPage }}d-none{{ end }}" data-target="propagation.tablesWrapper">
                <div class="table-details">
                    <h3>Propagation</h3>
                    <div class="paginate">
                        <div class="ml-3 mr-auto control-div p-0 {{ if .Propagation.chartView }}d-none{{ end }}"
                            data-target="propagation.numPageWrapper">
                            <div class="control-label">Page Size:</div>
                            <select data-target="propagation.selectedNum"
                                    data-action="change->propagation#numberOfRowsChanged" class="form-control"
                                    style="width: 70px;">
                                {{$selectedNum := .Propagation.selectedNum}}
                                {{ range $index, $filter := .Propagation.pageSizeSelector}}
                                    <option value="{{$index}}" {{ if eq $index $selectedNum}} selected {{ end }}>{{$filter}}</option>
                                {{ end }}
                            </select>
                        </div>

                        <div class="page-size d-flex ml-3 mr-auto mt-1 {{ if .Propagation.chartView }}d-none{{ end }}"
                            data-target="propagation.paginationButtonsWrapper">
                            <a href="javascript:void(0)" data-target="propagation.previousPageButton"
                            data-action="click->propagation#loadPreviousPage"
                            class="mr-2 {{ if lt .Propagation.previousPage 1 }}d-none{{ end }}">&lt;Previous </a>

                            <p class="text-muted" style="white-space: nowrap;"> Page <span
                                        data-target="propagation.currentPage"
                                        data-current-page="{{ .Propagation.currentPage }}"
                                        class="text-muted"> {{ .Propagation.currentPage }}</span> of <span
                                        data-target="propagation.totalPageCount"
                                        class="text-muted">{{ .Propagation.totalPages }}</span>
                            </p>

                            <a href="javascript:void(0)" data-target="propagation.nextPageButton"
                            data-action="click->propagation#loadNextPage"
                            class="ml-2 {{ if not .Propagation.nextPage }}d-none{{ end }}"> Next&gt;</a>
                        </div>
                    </div>
                </div>
                {{/*combine view*/}}
                <table class="table collapsible mx-auto {{ if not .Propagation.both }}d-none{{ end }}"
                       data-target="propagation.table">
                    {{range $index, $block := .Propagation.records}}
                        <tbody data-target="propagation.blocksTbody" data-block-hash="{{$block.BlockHash}}">
                        <tr>
                            <td colspan="100">
                                <span class="d-inline-block"><b>Height</b>: {{$block.BlockHeight}}</span> &#8195;
                                <span class="d-inline-block"><b>Timestamp</b>: {{$block.BlockInternalTime}}</span>
                                &#8195;
                                <span class="d-inline-block"><b>Received</b>: {{$block.BlockReceiveTime}}</span>
                                &#8195;
                                <span class="d-inline-block"><b>Hash</b>: <a target="_blank"
                                                                             href="https://explorer.dcrdata.org/block/{{$block.BlockHeight}}">{{$block.BlockHash}}</a></span>
                            </td>
                        </tr>
                        </tbody>
                        <tbody data-target="propagation.votesTbody" data-block-hash="{{$block.BlockHash}}">
                        <tr style="white-space: nowrap;">
                            <td style="width: 120px;">Voting On</td>
                            <td style="width: 120px;">Block Hash</td>
                            <td style="width: 120px;">Validator ID</td>
                            <td style="width: 120px;">Validity</td>
                            <td style="width: 120px;">Block Receive</td>
                            <td style="width: 120px;">Block Receive Time Diff</td>
                            <td style="width: 120px;">Hash</td>
                        </tr>
                        {{range $index, $vote := $block.Votes}}
                            <tr>
                                <td><a target="_blank"
                                       href="https://explorer.dcrdata.org/block/{{$vote.VotingOn}}">{{$vote.VotingOn}}</a>
                                </td>
                                <td><a target="_blank"
                                       href="https://explorer.dcrdata.org/block/{{$vote.BlockHash}}">...{{$vote.ShortBlockHash}}</a>
                                </td>
                                <td>{{$vote.ValidatorId}}</td>
                                <td>{{$vote.Validity}}</td>
                                <td>{{$vote.ReceiveTime}}</td>
                                <td>{{$vote.BlockReceiveTimeDiff}}s</td>
                                <td><a target="_blank"
                                       href="https://explorer.dcrdata.org/tx/{{$vote.Hash}}">{{$vote.Hash}}</a></td>
                            </tr>
                        {{end}}
                        </tbody>
                        <tbody>
                        <tr>
                            <td colspan="7" height="15" style="border: none !important;"></td>
                        </tr>
                        </tbody>
                    {{end}}
                </table>

                {{/*blocks only*/}}
                <table class="table d-none mx-auto {{ if not .Propagation.blocks }}d-none{{ end }}"
                       data-target="propagation.blocksTable">
                    <thead>
                    <tr style="white-space: nowrap;">
                        <th>Height</th>
                        <th>Timestamp</th>
                        <th>Received</th>
                        <th>Delay</th>
                        <th>Hash</th>
                    </tr>
                    </thead>
                    <tbody data-target="propagation.blocksTableBody">
                    </tbody>
                </table>

                <template data-target="propagation.blocksRowTemplate">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </template>

                {{/*votes only*/}}
                <table data-target="propagation.votesTable"
                       class="table d-none mx-auto {{ if not .Propagation.votes }}d-none{{ end }}">
                    <thead>
                    <tr style="white-space: nowrap;">
                        <th>Voting On</th>
                        <th>Block Hash</th>
                        <th>Validator ID</th>
                        <th>Validity</th>
                        <th>Received</th>
                        <th>Block Time Diff</th>
                        <th>Block Receive Time Diff</th>
                        <th>Hash</th>
                    </tr>
                    </thead>
                    <tbody data-target="propagation.votesTableBody">
                    </tbody>
                </table>

                <template data-target="propagation.votesRowTemplate">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </template>
            </div>

            <div data-target="propagation.chartWrapper" class="inner-content chart-wrapper pl-2 pr-2 mb-5" style="width:100%;">
                <style>
                    .dygraph-label {
                        display: none !important;
                    }
                </style>
                
                <div id="chart" data-target="propagation.chartsView"
                     style="width:100%; height:73vh; margin:0 auto;"></div>

                <div class="d-flex justify-content-center legend-wrapper d-none">
                    <div class="legend d-flex" data-target="propagation.labels"></div>
                </div>

                <div class="d-flex flex-wrap justify-content-center align-items-center mb-1 mt-1">
                    <div class="chart-control chart-control-wrapper">
                        <ul class="nav nav-pills">
                            <li class="nav-item active">
                                <a class="nav-link active"
                                    href="javascript:void(0);"
                                    data-target="propagation.axisOption"
                                    data-action="click->propagation#setAxis"
                                    data-option="time"
                                >Time</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link"
                                    href="javascript:void(0);"
                                    data-target="propagation.axisOption"
                                    data-action="click->propagation#setAxis"
                                    data-option="height"
                                >Blocks</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div data-target="propagation.messageView" class="d-hide">
            </div>
            <div class="loading" data-target="propagation.loadingData"><div class="loader"></div></div>
        </div>
    </div>
</div>
{{ template "footer" . }}
</body>
</html>
{{end}}
