{{define "stakingreward"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" "Staking Reward Calculator"}}
{{template "navbar" . }}
<div class="content">
   <div
      class="container py-1 mb-5"
      data-controller="stakingreward"
      data-stakingreward-ticket-price="{{.TicketPrice}}"
      data-stakingreward-ticket-reward="{{.TicketReward}}"
      data-stakingreward-reward-period="{{.RewardPeriod}}"
      data-stakingreward-dcrprice="{{.DCRPrice}}"
    >
    <div class="inner-content p-0 reward-calc">
      <div class="col-md-16 table-detail">
        <div class="d-inline-block position-relative p-2 mt-3 mb-2">
          <span class="card-icon dcricon-two blocks h1 mr-2"></span>
          <span class="h4 my-3">Staking Reward Calculator</span>
        </div>
        
        <div class="mb-3 bg-white p-3 pb-0">
          <div class="row">
            <div class="col-md-7 col-sm-15 d-flex mt-2">
              <span class="form-label">Amount (<span class="text-secondary">DCR</span>)</span>
              <input data-action="change->stakingreward#amountChanged"
                data-action="keyup->staking#amountKeypress"
                data-target="stakingreward.amount"
                type="number" class="form-control amount mr-1" 
                placeholder="Enter the amount of DCR to stake">
            </div>

            <div class="col-md-6 col-sm-12 d-flex mt-2">
              <span class="form-label">Start</span>
              <input data-action="change->stakingreward#startDateChanged"
                data-action="keyup->staking#startDateKeypress"
                data-target="stakingreward.startDate"
                type="date" class="form-control date mr-1" placeholder="Start Date"> 
            </div>

            <div class="col-md-6 col-sm-12 d-flex mt-2">
              <span class="form-label">End</span>
              <input
                data-action="change->stakingreward#endDateChanged"
                data-action="keyup->staking#endDateKeypress"
                data-target="stakingreward.endDate"
                    type="date"
                    class="form-control date" placeholder="End Date"> 
            </div>
          </div>
          <p class="m-0 desc" style="line-height: 30px;">
            <span class="mr-3">
              <span class="form-label">Days:</span>
              <span class="font-weight-bold" data-target="stakingreward.daysText">0</span>
            </span>

            <span class="mr-3">
              <span class="form-label">Yield:</span>
              <span class="font-weight-bold" data-target="stakingreward.percentageRoi">0</span>%
            </span>

            <span class="d-block d-sm-inline">
              <span class="form-label">Reward:</span>
              <span class="font-weight-bold" data-target="stakingreward.amountRoi">0</span>
              <span class="text-secondary">DCR</span>
            </span>
          </p>
        </div>

        <div style="overflow: auto;">
          <table class="table d-none" data-target="stakingreward.table">
            <thead>
              <tr>
                <th style="padding: 10px 8px;">Date</th>
                <th style="padding: 10px 8px;">Height</th>
                <th style="padding: 10px 8px; max-width: 67px;">Tickets Price  <small>(<span class="text-secondary">DCR</span>)</small></th>
                <th style="padding: 10px 8px; max-width: 66px;">Returned Fund <small>(<span class="text-secondary">DCR</span>)</small></th>
                <th style="padding: 10px 8px; max-width: 64px;">Reward  <small>(<span class="text-secondary">DCR</span>)</small></th>
                <th style="padding: 10px 8px; max-width: 77px;">Total Balance  <small>(<span class="text-secondary">DCR</span>)</small></th>
                <th style="padding: 10px 8px; max-width: 51px;">% Gained</th>
                <th style="padding: 10px 8px; max-width: 67px;">Tickets Purchased</th>
              </tr>
            </thead>
            <tbody data-target="stakingreward.tableBody"></tbody>
          </table>
  
          <template data-target="stakingreward.rowTemplate">
            <tr>
              <td style="width: 100px; padding: 10px 5px;"></td>
              <td style="padding: 10px 5px;"></td>
              <td style="padding: 10px 5px;"></td>
              <td style="padding: 10px 5px;"></td>
              <td style="padding: 10px 5px;"></td>
              <td style="padding: 10px 5px;"></td>
              <td style="padding: 10px 5px;"></td>
              <td style="padding: 10px 5px;"></td>
            </tr>
          </template>
        </div>
        
      </div>
      
    </div>
    </div>
  </div>
 {{ template "footer" . }}
</body>
</html>
{{end}}
