{{ define "stats"}}
<!DOCTYPE html>
<html lang="en">
{{ template "html-head" "DB stats about pdanalytics" }}

<body>
    <div class="body">
        {{ template "navbar" . }}
        <div class="content" style="padding-top: 70px;">
            <div class="container-fluid">
                <div class="items ml-auto mr-auto mt-5" style="width: fit-content;">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td style="border-top: 0;">Mempool Ticks recorded</td>
                                <td style="border-top: 0;">{{ humanizeInt .Data.mempoolCount}}</td>
                            </tr>
                            <tr>
                                <td>Blocks recorded</td>
                                <td>{{ humanizeInt .Data.blocksCount}}</td>
                            </tr>
                            <tr>
                                <td>Votes recorded</td>
                                <td>{{ humanizeInt .Data.votesCount}}</td>
                            </tr>
                            <tr>
                                <td>PoW Ticks recorded</td>
                                <td>{{ humanizeInt .Data.powCount}}</td>
                            </tr>
                            <tr>
                                <td>VSP Ticks recorded</td>
                                <td>{{ humanizeInt .Data.vspCount}}</td>
                            </tr>
                            <tr>
                                <td>Exchange Ticks recorded</td>
                                <td>{{ humanizeInt .Data.exchangeTick}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{template "footer"}}
</body>
</html>
{{ end }}
