.reward-calc {
  font-size: 15px;

  .form-label {
    line-height: 25px;
    margin-right: 3px;
  }

  .amount {
    display: inline-block !important;
    width: 90px;
    height: 25px;
  }

  .date {
    display: inline-block !important;
    width: 130px;
    height: 25px;
  }

  p.desc {
    line-height: 22px;
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .reward-calc {
    font-size: 15px;

    .amount {
      display: inline-block !important;
      height: 25px;
      width: 60px;
    }

    .date {
      width: 70px;
      display: inline-block !important;
      height: 25px;
    }

    p.desc {
      line-height: 30px;
      font-size: 15px;
    }
  }
}
